.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
  width: 60px;
}

.square:focus {
  outline: none;
}

.square-red {
  color: rgb(187, 61, 61);
}

.square-blue {
  color: rgb(81, 81, 165);
}
