/* body {
  font: 50px 'Century Gothic', Futura, sans-serif;
  margin: 50px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: rgb(195, 70, 70);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
} */
